<%- include header %>
<form method="post">
	<div class="form-group">
		<input autofocus required type="text" class="form-control" name="title" placeholder="标题">
	</div>

	<div class="form-group">
		<input type="text" required class="form-control" name="tag" placeholder="标签">
	</div>

	<textarea required cols="20" wrap="hard" maxlength="9999" class="form-control" name="content" style="height: 430px;resize: both;" placeholder="笔记内容"></textarea>

	<button type="submit" id="enter" style="outline: none;" class="btn btn-default">发表</button>
</form>
<%- include footer %>